
body{
    font-family: "Inter", sans-serif;
    background-color: rgb(232, 233, 243) ;
}

main{
    margin: 0 0 0 240px;
}

.logo-alura{
    margin: 40px 0 40px 40px;
    position: relative;
    display: inline-block;
}

::placeholder{
    color: #0A3871;
}


/*primera text area*/
#primer-textarea{
    font-size: 32px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    line-height: 48px;

    color: #0A3871;
    background-color: transparent;

    display: inline-block;
    border: none;
    margin: 0 0 20px 0;
    padding: 30px;

    width: 677px;
    height: 570px;

    outline: none;
    resize: none;
}

/*contenedor de la segunda textarea*/
.contenedor-segunda-textbox{
    background-color: white;

    display: inline-block;
    position: absolute;
    top: 40px;
    right: 40px;
    margin: 0 0 0 0;
    border-radius: 32px;

    width: 400px;
    height: 84%;

    border: none;
    padding: 30px;    

    box-shadow: 0px 24px 31px -7px rgba(0,0,0,0.08);
    -webkit-box-shadow: 0px 24px 31px -7px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 24px 31px -7px rgba(0,0,0,0.08);

    outline: none;
    resize: none;
}

/*segunda textarea*/
#segundo-textarea{
    font-size: 24px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    line-height: 48px;

    color: #495057;
    background-color: transparent;

    width: 400px;
    height: 600px;

    position: absolute;
    border: none;
    margin: 0;

    z-index: 1;

    outline: none;
    resize: none;
}

.imagen-persona{
    position: relative;
    top: 20%;
    text-align: center;
}

div legend{
    text-align: center;
    position: absolute;
    margin: 1rem;
    padding: 1rem;
}

.desc1{
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 700;
    color: #343A40;

    top: 30rem;
}
.desc2{
    
    top: 34rem;
    color: #495057;
}

/*botones*/
.contenedor-botones button:last-child{
    color: #0A3871;
    background: #D8DFE8;
    border-radius: 24px;
    border: 1px solid #0A3871;
    margin-left: 24px;
}

.contenedor-botones button:last-child:active{
    color: #000000;
}

.boton{
    color: #FFFFFF;
    background: #0A3871;
    padding: 16px 24px;
    width: 328px;
    height: 67px;
    font-size: 24px;
    font-weight:normal;
    border: none;
    border-radius: 24px;
    margin-top: 1.5rem;
    transition: 0.4s;
    font-family: "Inter", sans-serif;
}

.boton:hover{
    transform: scale(1.04);
}

.boton:active{
    color: #000000;
    transition: 0s;
}

fieldset legend{
    color: #495057;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

fieldset legend::before {
    content: url('imagenes/Vector.png');
    display:inline-block;
    margin-right: 0.5rem;
  }

.boton-copiar{

    color: #0A3871;
    background: transparent;
    border: 1px solid #0A3871;
    padding: 16px 24px;
    width: 100%;
    height: 67px;
    font-size: 24px;
    font-weight:normal;
    border-radius: 24px;
    margin-top: 1.5rem;
    transition: 0.4s;
    font-family: "Inter", sans-serif;

    position: relative;
    top: 685px;
}

/*footer*/
footer{
    position: relative;
    top: 4rem;
    background: url(imagenes/textura_footer.jpg);
}

.texto-footer{
    color: white;
    font-size: 13.5px;
    font-family: 'Times New Roman', Times, serif;
    
    position: relative;
    display: inline;
    text-align: center;
    margin-bottom: 100px;
    background-size: cover;
}

.texto-footer p{
    padding: 0.8rem;
}
/*port celular*/
@media screen and (max-width:480px)
{

    header{
        height: auto;
    }

    .logo-alura{
        margin: 1rem 1rem 15%;
    }

    main{
        margin: 0;
    }

    fieldset legend{
        margin-left: 1.5rem;
    }

    #primer-textarea{
        padding: 1rem;
        width: 91%;
        height:22rem;
        position: relative;
    }

    #segundo-textarea{
        padding: 1rem;
        width: 90%;
        height:22rem;
        margin-bottom: 2rem;
    }

    .contenedor-segunda-textbox{
        position: relative;
        width:83%;
        height: calc(22rem + 67px);
        margin: 0 0 0 3.75rem;

        display: inline-block;
        top: 40px;
        right: 40px;
        border-radius: 32px;
    
        border: none;
        padding: 0;    
    }

    .imagen-persona{
        margin: -17%;
        scale: 0.9;
        position: relative;
        top: 20%;
        text-align: center;
    }

    /*botones*/
    .contenedor-botones{
        padding: 0 1.5rem;
    }

    .contenedor-botones button:last-child, .contenedor-botones button:first-child{
        margin: 1.4rem 0 0 0;
        width:100%
    }

    .boton-copiar{
        padding: 16px 24px;
        width: 90%;
        height: 67px;

        margin: 1rem;
        transition: 0.4s;
        font-family: "Inter", sans-serif;
    
        position:relative;
        top: auto;
    }
    
    .contenedor-segunda-textbox .boton-copiar {
        position: absolute; /*cambia a posición absoluta solo dentro del contenedor */
        bottom: 0;
        left: 0;
    }

    .imagen-persona {
        display: none;
    }

    .desc1{
        margin: 0;
        top: 0;
    }

    .desc2{
        margin: 0 0 0 0rem;
        top: 4rem;
    }
}

/*port tablet*/
@media screen and (min-width:520px) and (max-width:1400px){
    header{
        height: auto;
    }

    .logo-alura{
        margin: 2rem 2rem 15%;
    }

    main{
        margin: 0;
    }

    fieldset legend{
        margin-left: 2rem;
    }

    #primer-textarea{
        padding: 2rem;
        width: 91%;
        height:22rem;
        position: relative;
    }

    #segundo-textarea{
        padding: 0;
        width: 90%;
        height:22rem;
        margin-bottom: 2rem;
    }

    .contenedor-segunda-textbox{
        position: relative;
        width:84%;
        height: calc(22rem + 67px);
        margin: 0 0 0 4.75rem;

        display: inline-block;
        top: 40px;
        right: 40px;
        border-radius: 32px;
    
        border: none;
        padding: 1.45rem;    
    }

    .imagen-persona{
        margin: -17%;
        scale: 0.9;
        position: relative;
        top: 20%;
        text-align: center;
    }

    .contenedor-botones{
        padding: 2rem;
    }

    .contenedor-botones button:last-child, .contenedor-botones button:first-child{
        margin: 0 0.3rem;
        width: 48%;
    }

    .boton-copiar{
        padding: 16px 24px;
        width: 95%;
        height: 67px;

        margin: 1rem;
        transition: 0.4s;
        font-family: "Inter", sans-serif;
    
        position:relative;
        top: auto;
    }
    
    .contenedor-segunda-textbox .boton-copiar {
        position: absolute; /*cambia a posición absoluta solo dentro del contenedor */
        bottom: 0;
        left: 0;
    }

    .imagen-persona {
        display: none;
    }

    .desc1{
        margin: 1rem 0 0 -1rem;
        padding-left: 22% ;
        padding-right: 22% ;
        top: 0;
    }

    .desc2{
        margin: 0.5rem 0 0 -1rem;
        padding-left: 22% ;
        padding-right: 22% ;
        padding-top: 0;
        top: 4rem;
        line-height: normal;
    }
}